body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  cursor: default;
}

.header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
  background-color: #3E8E41;
  text-align: center;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
}

.menu a {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

.menu a:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

.left {
  flex: 0 0 250px;
  background-color: #E0E0E0;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-image: url(bg.jpg);
}

.main {
  flex: 1;
  background-color: white;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.content img {
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 100%;
}

.content img:hover {
  transform: scale(1.05);
}

.content img.clickable-image {
  cursor: pointer;
}

.right {
  flex: 0 0 250px;
  background-color: #E0E0E0;
  padding: 1rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  background-image: url(bg.jpg);
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 7px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .left, .right {
    width: 250px;
  }

  .main {
    width: calc(100% - 500px);
  }
}

#Tentang img {
  margin-top: 1px;
}

#Tentang a img {
  margin-top: 1px;
  transition: transform 0.3s;
}

#Tentang a img:hover {
  transform: scale(1.1);
}
